# Regenerate with:
#   python3 -m pip download --only-binary=:all: --no-deps --platform manylinux_2_28_x86_64 --python-version 314 --implementation cp --abi cp314 websockets==17.1
#   python3 -m pip download --only-binary=:all: --no-deps --platform manylinux_2_28_aarch64 --python-version 314 --implementation cp --abi cp314 websockets==17.1
websockets==17.1 \
    --hash=sha256:6f42912fa9eb4cb7c7ec9fde9b3332ba339eb8a8811981043d4029599f3d950b \
    --hash=sha256:f98bf378d7a5be047a044a1a27c987a8f355e10e3b5754617dbe756248cbc5ce
